{% extends 'base.html.twig' %}

{% block title %} Disclaimer {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section>

    <h2> Disclaimer ! </h2>

    <p> This website contains short but sensitive, explicit textual content on the following topics :
    death by natural causes, murder, suicide, transforming into a monster and acts of cruelty. 
    Thus, this content is not recommended for anyone under the age of 18. This website however provides a censor 
    option which slightly alters some texts to make them less brutal. </p>

    <p> 
        This website is centered around the RPGMaker game Fear & Hunger, which will inevitably contain references to
        brutal acts and sexual imagery. Thus, this content is not recommended for anyone under the age of 18.
        However, depiction of sexual imagery as well as dismemberment will be censored.
    </p>

    <p> 
    
        Additionally, this website requires essential cookies to function. 
        No other cookies than session cookies will be collected. 

    </p>

    <p>

        You'll be able to access the rest of the site by agreeing to essential cookies 
        being collected and that you have been warned about the sensitive content. 

    </p>


    <a href="/enemy"> Enemy page </a>

</section>

{% endblock %}
